.portfolio_main_wrapper{
    background: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0, 0, 0,0.1)),url("../images/portfolio-bg.jpeg") !important;
    background-size: cover !important;
}
.about_head.port h1{
    letter-spacing: 4px;
}
#card_main_wrap{
    transition: 0.5s;
}
#card_main_wrap:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.15);
    transform:0.5s;
    position: relative;
    top: -5px;
}
@media (max-width:992px) {
    .gts_cstm_container{
        max-width: 100%;
    }
}
